<div class="edit-wine">

  <section id="error">
    <% if @error %>
      <img src="/images/broken_glass.png">
      <p><%= @error %></p>
    <% end %>
  </section>
  
  <header>
    <h2>Edit <%=@wine.name%></h2>
  </header>

  <section id="edit-wine-form">
    <form action="/wines/<%=@wine.id%>" method="POST">
    <input type="hidden" name="_method" value="patch">

      <label for="name">Bottle Name:</label>
      <input type="text" name="name" value="<%=@wine.name%>" required>

      <br>

      <label for="type">Country: </label>

        <select name="country" required>
          <option> <%=@wine.country.name%></option>
          <%@countries.each do |country|%>  
            <option value="<%=country.name%>"><%=country.name%></option>
          <% end %>
        
        </select>

      <br>

      <label for="wine_type">Wine Type: </label>
        <select name="wine_type" required>
          <option> <%=@wine.wine_type%></option>
          <option value="Riesling"> Riesling</option>
          <option value="Pinot Gris"> Pinot Gris</option>
          <option value="Sauvignon Blanc"> Sauvignon Blanc</option>
          <option value="Chardonnay"> Chardonnay</option>
          <option value="Pinot Noir"> Pinot Noir</option>
          <option value="Zinfandel"> Zinfandel</option>
          <option value="Syrah"> Syrah</option>
          <option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
        </select>
      
      <br>

      <label for="other">Please enter the type of wine below if not found in the list above</label><br>
        <input type="text" name="wine" value="">

      <br>
      
      <label for="price">Price:</label>
        <input type="number" name="price" value="<%=@wine.price%>">

      <br>

      <label for="year">Year Sealed:</label>
        <%time = Time.now%>
          <input type="number" min="1900" max="<%=time.year%>" name="year" value="<%=@wine.year_sealed%>">

      <br>

      <input type="submit" value="Update Wine">

    </form>
  </section>
  
</div>
